@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Rubik+Iso&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Rubik+Iso&family=Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans&family=Rubik+Iso&family=Source+Code+Pro&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #CACF85;
  font-family: 'Montserrat', sans-serif;

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
    
  border: 2px solid #36413e;
  padding: 1em;
  background-color: #8CBA80;
  margin-top: 5px;
}

.cards{
 
}


.read-the-docs {
  color: #888;
}

.kudos-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
  list-style-type: none;
}

select {
  position: relative;
  top: 100%;
  left: 0;
  z-index: 1;
}

select option{
  padding: 10px;
  font-size: 16px;
}
 
h1{
  font-family: 'Rubik Iso', cursive;
  color:black;
  border-style: solid;
  border-color: 1px #1F1300;
  background-color: #BEB2C8;

}

.navbar{
  font-family: 'Source Code Pro', monospace;
  font-size: large;
  background-color: #8CBA80;
  border-style: solid;
  border-color: 1px #1F1300;
  
}

.button{
  background-color: #BEB2C8;
border: 1px solid #1F1300;
padding: 14px;
font-size: 16px;
cursor: pointer;
margin: 10px;
}

.comments-button{
  background-color: #8CBA80;
  border: 1px solid #1F1300;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;  
  border-style: solid;
  border-color: 1px black;
  margin: 5px;
}


.link{
  color: #36413e;
}

.avatar{
  background-color: white;
  border: 1px solid #1F1300;
}

form {
  box-sizing: border-box;
  padding: rem;
  background-color: #4a4e69;
  border: 2px solid #22223b;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  color: white;
}

.sort-button{
  padding: 1px;
  margin: 10px;
  width: 100px;
  font-size: 12px;
  background-color: #BEB2C8;

}


.sort-articles-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the select sections horizontally */
  align-items: center; /* Center the select sections vertically */
  text-align: center; /* Center-align text within labels */
}

.select-container {
  margin: 5px; /* Adjust this for spacing between select sections */
  

}

.select-container select {
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  width: 100px;
  background-color: #BEB2C8;
}
.select-container label {
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.sort-button-container {
  margin-top: -20px; /* Adjust this for spacing between select sections and the button */
}